@import './components/variables';
@import './components/extend';

/* AJUSTES GLOBALES */
* {
    color: $color-texto;
    background-color: $color-secundario;
    margin: 0;
    padding: 0;

    h1 , h2 , h3 , h4 {
        font-family: 'Crimson Pro', serif;
        font-weight: 900;
        background: none;
    }

    p , li , a , form , input, q , button {
        font-family: 'Poppins', sans-serif;
        background: none;
        text-decoration: none;
    }

    h1 {
        font-size: map-get($map: $tamaño-fuente, $key: titulo1);
    }

    h2 {
        font-size: map-get($map: $tamaño-fuente, $key: titulo2);
    }

    h3 {
        font-size: map-get($map: $tamaño-fuente, $key: titulo3);
    }

    h4{
        font-size: map-get($map: $tamaño-fuente, $key: titulo4);
    }

    p , li , a , form , input, q , button {
        font-size: map-get($map: $tamaño-fuente, $key: texto);
    }
}


/* DIVISORES DE TEXTO-TÍTULO */
.divisor1 {    
    display: inline-block;
    height: 2px;
    @extend %divisor-width-margin;
    background-color: $color-princial;
}

.divisor2 {
    display: inline-block;
    height: 4px;
    @extend %divisor-width-margin;
    background-color: $color-princial;
}

.divisor3 {
    height: 2px;
    @extend %divisor-width-margin;
    background-color: $color-princial;
}

.divisor4 {
    display: inline-block;
    height: 1px;
    width: 70px;
    margin: 7px 0px;
    background-color: $color-terciario;
}

.divisor5 {
    height: 170px;
    width: 10px;
    background-color: $color-princial;
}
/* FIN DIVISORES DE TEXTO-TÍTULO */


/* BOTONES */
.boton1 {
    padding: 15px 25px;
    margin: 50px 0;
    border-radius: $border-radius-boton;
    background-color: $color-princial;
    border: 3px solid $color-princial;

    &:hover {
        @extend %scale-boton;
        background-color: $color-secundario;
    }
    
    & a {
        @extend %font-boton;
        font-size: 1.3em;
        color: $color-cuarto;
    }

    &:hover a {
        color: $color-princial;
    }
}

.boton2 {
    padding: 10px 20px;
    margin: 10px 0 0 0;
    border-radius: $border-radius-boton;
    background-color: $color-cuarto;
    border: none;

    &:hover {
        @extend %scale-boton;
    }
    
    & a {
        @extend %font-boton;
        font-size: 1.1em;
        color: $color-princial;
    }
}

.boton3 {
    margin: 50px 0 0 0;
    border: none;

    & a {
        @extend %font-boton;
        font-size: 1.2em;
        color: $color-princial;
    }
}

.boton4 {
    @extend %font-boton;
    padding: 8px 20px;
    margin: 20px 0 0 0;
    font-size: 1.1em;
    border-radius: $border-radius-boton;
    color: $color-cuarto;
    background-color: $color-princial;
    border: $color-princial solid 2px;

    &:hover {
        @extend %scale-boton;
        border: $color-princial solid 3px;
    }
}

.boton5 {
    margin: 10px 0;

    & a{
        @extend %font-boton;
        font-size: 1em;
        color: $color-princial;
    }
}

.boton6:hover {
    @extend %scale-boton;
    background-color: $color-secundario;

    & a {
        @extend %font-boton;
        font-size: 1.2em;
        color: $color-cuarto;
    }
    
    &:hover a {
        color: $color-princial;
    }
}
/* FIN BOTONES */


/* BODY */
body {
    width: 100%;
}
/* FIN BODY */


/* HEADER */
.headerNav {
    padding: 20px 50px;
}

.headerNavIcon {
    border: none;
}

.headerNavLink {
    display: inline;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s;

    &:hover {
        color: $color-princial;
    }
}

nav {
    a {
        color: $color-texto;
    }
} 
/* FIN HEADER */


/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    background-color: $color-texto;
    padding: 30px 100px;

    & p {
        font-size: 3em;
        font-weight: 800;
        color: $color-cuarto;
    }
}

.footerRedessociales{
    display: flex;
    justify-content: flex-end;
    background: none;
    width: 100%;

    & a {
        margin: 0 0 0 15px;
    }
}
/* FIN FOOTER */


/* AJUSTES RESPONSIVE */
@media (max-width:768px) {
    nav {
/*         @extend %flexbox-column; */
        display: flex;
        flex-flow: column;
        align-items: center;

        & ul {
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width:480px) {
    .headerNav {
        padding: 20px;
    }

    .headerNavLogo {
        height: auto;
        width: 70%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .footerRedessociales {
        justify-content: center;

        & a {
            margin: 10px;
        }
    }
}
/* FIN AJUSTES RESPONSIVE */
/* FIN AJUSTES GLOBALES */





/* HOME */
/* HEADER */
.section1 {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: $color-secundario;
    height: 900px;
    padding: 100px;
}

.section1Div1 {
    height: auto;
    width: 43%;
    background: none;
}

.section1Imagen {
    margin: 0 0 0 10%;
}

.divisor {
    height: 4px;
    width: 300px;
    margin: 15px 0px 30px 0px ;
    background-color: $color-princial;
}

.section1Div3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 100px 0 0;

    a {
        margin: 0 0 0 15px;
    }
}
/* FIN HEADER */


/* PRODUCTOS DE LA TIENDA */
.section2 {
    @extend %flexbox-column;
    padding: $padding-100;
}

.section2Div {
    @extend %flexbox-evenly;
    padding: 10% 0 0 0;
}

.section2DivProducto {
    position: relative;
    height: 31em;
    width: 20em;
    padding: 30px;
    margin: 20px;
    border-radius: 0 0 50px 0;
    background: $color-princial;
    box-shadow:  20px 20px 60px #bebebe;

    & i {
        color: $color-cuarto;
        background:none;
        margin: 7px;
    }

    & p {
        color: $color-cuarto;
        margin: 7px;
    }
}

.section2DivProducto h4 {
    font-size: 1.5rem;
    color: $color-cuarto;
    margin: 7px;

    & p {
        color: $color-cuarto;
        margin: 7px;
    }
}

.section2DivProductoImg {
    position: absolute;
    transform: translate(-50%,-40%);
    max-height: 100%;
    max-width: 85%;
    background: none;
}

.section2DivProductoInfo {
    position: absolute;
    transform: translate(-10%,110%);
    background: none;
}
/* FIN PRODUCTOS DE LA TIENDA */


/* PROPÓSITO */
.section3 {
    @extend %flexbox-column;
    padding: $padding-100;
    background-color: $color-terciario;

    & h2 {
        text-align: center;
        color: $color-cuarto;
    }

    & i {
        color: $color-cuarto;
        background:none;
    }

    p {
        color: $color-cuarto;
    }
}

.section3Image {
    max-height: 30%;
    max-width: 30%;
    margin: 50px 0 0 0;
    background: none;
}
/* FIN PROPÓSITO */


/* CANAL YOUTUBE */
.section4 {
    @extend %flexbox-evenly;
    padding: 100px;
}

.section4Canalyoutube {
    width: 30rem;
}
/* FIN CANAL YOUTUBE */


/* EQUIPO BRAINIALS */
.section5 {
    text-align: center;
    padding: 100px;
}

.section5Div {
    @extend %flexbox-evenly;

    padding: 50px 0;
}

.section5DivEquipo {
    @extend %flexbox-column;
/*     display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly; */
    height: 25rem;
    width: 19rem;
    margin: 10px;
    padding: 40px;
    box-shadow:  $box-shadow;
    border-radius: 0 0 50px 0;

    & h4{
        font-size: 1.4em;
        margin: 4px 0;
    }

    & p {
        margin: 4px 0;
    }
    
    & button {
        border: none;
        background: none;
    }
}

.section5DivImg {
    width: 150px;
    height: 150px;
}
/* FIN EQUIPO BRAINIALS */


/* FORMULARIO DE CONTACTO */
.section6 {
    display: flex;
    padding: 100px;
}

.section6Contactos {
    margin: 0 100px 0 0;
    width: 35em;
    justify-content: space-evenly;

    & p {
        font-weight: 600;
    }
}

.section6Formulario {
    text-align: center;
    width: 45%;
    padding: 50px;
    box-shadow:  $box-shadow;
    border-radius: 0 0 70px 0;

    & form {
        text-align: left;
    }
    
    & h4 {
        font-size: 1.7em;
    }
}
/* FIN FORMULARIO DE CONTACTO */


/* AJUSTES HOME MOBILE */
@media (max-width:1024px) {
    .section2DivProducto {
        height: 31em;
        width: 18em;
    }

    .section4 {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
}


@media (max-width:768px) {
    .section1 {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin: 100px 0 0 0;
        padding: 200px 100px;
    }

    .section1Imagen {
        align-items: center;
        height: 70%;
        width: 70%;
        margin: 0;
    }

    .section1Div1 {
        width: 100%;
        text-align: center;
    }

    .divisor {
        width: 34%;
        margin: 20px auto;
    }

    .section1Div3 {
        display: flex;
        justify-content: center;
        padding: 50px;

        & a {
            margin: 0 10px;
        }
    }

    .section2Div {
        display: flex;
        flex-flow: column wrap;
    }

    .section2DivProducto {
        margin: 100px 0;
    }

    .section3 {
        display: flex;
        text-align: center;
    }

    .section4 {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }

    .section4Canalyoutube {
        width: fit-content;
    }

    .divisor3 {
        display: inline-block;
    }
    .section5Div {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .section6 {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        padding: 100px;
    }

    .section6Contactos {
        text-align: center;
        margin: 0 0 50px 0;
        width: 100%;
    }

    .section6Formulario {
        width: 100%;
    }
}


@media (max-width:480px) {
    .section1 {
        padding: 100px 25px;

        & h1 {
            font-size: 2.3em;
        }
    }

    .section1Div1 {
        width: 100%;
        margin: auto;
    }

    .section1Div3 {
        padding: $padding-25;
    }

    .section2 {
        padding: $padding-25;
    }

    .section2DivProducto {
        margin: 100px 0;
    }

    .section2DivProductoInfo {
        height: 12em;
        width: 17.5em;
    }

    .section3 {
        padding: $padding-25;

        & h2 {
            font-size: 2.1em;
        }
    }

    .section4 {
        padding: 100px 25px;
    }

    .section4Video {
        width: 100%;
    }

    .section5 {
        padding: $padding-25;
    }

    .section5DivEquipo {
        padding: 15px;
        height: 22rem;
        width: 16rem;

        & h4 {
            font-size: 1.3em;
        }
    
        & p {
            font-size: 1em;
        }
    }

    .section6 {
        padding: 40px;
    }

    .section6Contactos {
        width: 100%;
    }

    .section6Formulario {
        padding: $padding-25;
        width: 100%;
    }
}
/* FIN AJUSTES HOME MOBILE */
/* FIN HOME */
