@import './components/variables';
@import './components/extend';

/* AJUSTES GLOBALES */
* {
    color: $color-texto;
    margin: 0;
    padding: 0;
}

h1 , h2 , h3 , h4 {
    background: none;
    font-family: 'Crimson Pro', serif;
    font-weight: 900;
}

p , li , a , form , input, q , button {
    background: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a {
    color: $color-princial;

    &:hover {
        color: $color-texto;
    }
}

h1 {
    font-size: map-get($map: $tamaño-fuente, $key: titulo1);
}

h2 {
    font-size: map-get($map: $tamaño-fuente, $key: titulo2);
}

h3 {
    font-size: map-get($map: $tamaño-fuente, $key: titulo3);
}

h4{
    font-size: map-get($map: $tamaño-fuente, $key: titulo4);
}

p , li , a , form , input, q , button {
    font-size: map-get($map: $tamaño-fuente, $key: texto);
}

/* DIVISORES DE TEXTO-TÍTULO */
.divisor {
    background-color: $color-princial;
    height: 4px;
    margin: 15px 0px 30px 0px ;
    width: 300px;
}

.divisor1 {
    @extend %divisor-setting;    
    height: 2px;
}

.divisor2 {
    @extend %divisor-setting;
    height: 4px;
}

.divisor3 {
    @extend %divisor-setting;
    height: 2px;
}

.divisor4 {
    background-color: $color-terciario;
    display: inline-block;
    height: 1px;
    margin: 7px 0px;
    width: 70px;
}

.divisor5 {
    background-color: $color-princial;
    display: inline-block;
    height: 170px;
    width: 10px;
}
/* FIN DIVISORES DE TEXTO-TÍTULO */


/* BOTONES */
.boton1 {
    @include botones (15px 25px , 50px 0, $color-princial, 3px solid $color-princial, $border-radius-boton);

    &:hover {
        @extend %scale-boton;
    }
    
    & a {
        @extend %font-boton;
        color: $color-cuarto;
        font-size: 1.3em;
    }
}

.boton2 {
    @include botones (10px 20px, 10px 0, $color-princial, none, $border-radius-boton);

    &:hover {
        @extend %scale-boton;
    }
    
    & a {
        @extend %font-boton;
        color: $color-cuarto;
        font-size: 1.1em;
    }
}

.boton3 {
    border: none;
    margin: 25px 0;

    & a {
        @extend %font-boton;
        color: $color-princial;
        font-size: 1.2em;
    }
}

.boton4 {
    @extend %font-boton;
    @include botones (8px 20px, 20px 0, $color-princial, solid 2px $color-princial, $border-radius-boton);
    color: $color-cuarto;

    &:hover {
        @extend %scale-boton;
    }
}

.boton5 {
    margin: 10px 0;

    & a{
        @extend %font-boton;
        color: $color-princial;
        font-size: 1em;
    }
}

.boton6 {
    @include botones (10px 20px, 20px 0, $color-princial, solid 3px $color-princial, $border-radius-boton);

    &:hover {
        @extend %scale-boton;
    }

    & a {
        @extend %font-boton;
        color: $color-cuarto;
        font-size: 1.2em;
    }
}
/* FIN BOTONES */


/* BODY */
body {
    background-color: $color-secundario;
    width: 100%;

}


/* HEADER */
.headerNav {
    background-color: $color-secundario;
    padding: 20px 50px;

}

.headerNavIcon {
    border: none;
}

.headerNavLink {
    display: inline;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s;

    &:hover {
        color: $color-princial;
    }
}

.nav-item {
    display: flex;
}

.offcanvas-header {
    background-color: $color-secundario;
}

.offcanvas-body {
    background-color: $color-secundario;
}

nav {
    a {
        color: $color-texto;
    }
} 
/* FIN HEADER */
/* FIN BODY */


/* FOOTER */
.footer {
    align-items: center;
    background-color: $color-terciario;
    display: flex;
    padding: 30px 100px;

    & p {
        color: $color-cuarto;
        font-size: 3em;
        font-weight: 800;
    }
}

.footerRedessociales{
    background: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & a {
        margin: 0 0 0 15px;
    }
}
/* FIN FOOTER */


/* AJUSTES RESPONSIVE */
@media (max-width:768px) {
    nav {
        @include mobile-column;

        & ul {
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width:575px) {
    .footer {
        @include mobile-column;
        text-align: center;
    }

    .footerRedessociales {
        justify-content: center;

        & a {
            margin: 10px;
        }
    }
}

@media (max-width:480px) {
    .headerNav {
        padding: 20px;
    }

    .headerNavLogo {
        height: auto;
        width: 70%;
    }
}
/* FIN AJUSTES RESPONSIVE */
/* FIN AJUSTES GLOBALES */





/* HOME */
/* HEADER */
.section1 {
    align-items: center;
    background-color: $color-secundario;
    display: flex;
    height: 900px;
    justify-content: left;
    padding: 100px;
}

.section1Caja {
    background: none;
    height: auto;
    width: 43%;

}

.section1Imagen {
    margin: 0 0 0 10%;
}

.Redes {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 100px 0 0;

    a {
        margin: 0 0 0 15px;
    }
}
/* FIN HEADER */


/* PRODUCTOS DE LA TIENDA */
.section2 {
    @extend %flexbox-column;
    padding: $padding-100;
}

.section2Caja {
    @extend %flexbox-evenly;
    padding: 10% 0 0 0;
}

.section2CajaProducto {
    background: $color-secundario;
    border-radius: 0 0 50px 0;
    box-shadow:  $box-shadow-1;
    height: 31em;
    margin: 20px;
    padding: 30px;
    position: relative;
    width: 20em;

    & i {
        background:none;
        color: $color-texto;
        margin: 7px;
    }

    & p {
        color: $color-texto;
        margin: 7px;
    }

    & h4 {
        color: $color-texto;
        font-size: 1.5rem;
        margin: 7px;
    }

    & p {
        color: $color-texto;
        margin: 7px;
    }
}

.section2CajaProductoImg {
    background: none;
    max-height: 100%;
    max-width: 85%;
    position: absolute;
    transform: translate(-50%,-40%);
}

.section2CajaProductoInfo {
    background: none;
    position: absolute;
    transform: translate(-10%,100%);
}
/* FIN PRODUCTOS DE LA TIENDA */


/* PROPÓSITO */
.section3 {
    @extend %flexbox-column;
    background-color: $color-terciario;
    padding: $padding-100;


    & h2 {
        color: $color-cuarto;
        text-align: center;
    }

    & i {
        background:none;
        color: $color-cuarto;
    }

    p {
        color: $color-cuarto;
    }
}

.section3Image {
    background: none;
    margin: 50px 0 0 0;
    max-height: 30%;
    max-width: 30%;
}
/* FIN PROPÓSITO */


/* CANAL YOUTUBE */
.section4 {
    @extend %flexbox-evenly;
    padding: 100px;
}

.section4Canalyoutube {
    width: 30rem;
}
/* FIN CANAL YOUTUBE */


/* EQUIPO BRAINIALS */
.section5 {
    text-align: center;
    padding: 100px;
}

.section5Caja {
    @extend %flexbox-evenly;
    padding: 50px 0;
}

.section5CajaEquipo {
    @extend %flexbox-column;
    border-radius: 0 0 50px 0;
    box-shadow:  $box-shadow;
    height: 25rem;
    margin: 10px;
    width: 19rem;
    padding: 40px;

    & h4{
        font-size: 1.4em;
        margin: 4px 0;
    }

    & p {
        margin: 4px 0;
    }
    
    & button {
        background: none;
        border: none;

    }
}

.section5CajaImg {
    height: 150px;
    width: 150px;
}
/* FIN EQUIPO BRAINIALS */


/* FORMULARIO DE CONTACTO */
.section6 {
    display: flex;
    padding: 100px;
}

.section6Contactos {
    justify-content: space-evenly;
    margin: 0 100px 0 0;
    width: 35em;
}

.section6Texto {
    align-items: center;
    display: flex;
    margin: 0 0 20px 0;
    
    & p {
        font-size: 1.4em;
        font-weight: 600;
        margin: 0;
        padding: 0 10px 0 0;
    }
}

.section6mail {
    font-weight: 300;
}

.section6Formulario {
    border-radius: 0 0 70px 0;
    box-shadow: $box-shadow;
    padding: 50px;
    text-align: center;
    width: 45%;

    & form {
        text-align: left;
    }
    
    & h4 {
        font-size: 1.7em;
    }
}
/* FIN FORMULARIO DE CONTACTO */


/* AJUSTES HOME MOBILE */
@media (max-width:1024px) {
    .section1Caja {
        background: none;
        height: auto;
        width: 65%;
    }

    .section1Caja h1 {
        font-size: 3em;
    }

    .section2CajaProducto {
        height: 31em;
        width: 18em;
    }

    .section4 {
        display: flex;
        flex-flow: column;
        text-align: center;
    }

    .section4Canalyoutube {
        width: fit-content;
    }

    .divisor3 {
        display: inline-block;
    }

    .section6Formulario {
        width: 100%;
    }
}


@media (max-width:768px) {
    .section1 {
        @include mobile-column;
        margin: 100px 0 0 0;
        padding: 250px 100px;
    }

    .section1Imagen {
        align-items: center;
        height: 70%;
        margin: 0;
        width: 70%;
    }

    .section1Caja {
        text-align: center;
        width: 100%;
    }

    .divisor {
        margin: 20px auto;
        width: 34%;
    }

    .Redes {
        display: flex;
        justify-content: center;
        padding: 50px;

        & a {
            margin: 0 10px;
        }
    }

    .section2Caja {
        @include mobile-column;
    }

    .section2CajaProducto {
        margin: 100px 0;
    }

    .section3 {
        display: flex;
        text-align: center;
    }

    .section4 {
        @include mobile-column;
        text-align: center;
    }

    .section4Canalyoutube {
        width: fit-content;
    }

    .divisor3 {
        display: inline-block;
    }
    .section5Caja {
        @include mobile-column;
    }

    .section5CajaEquipo {
        margin: 20px 10px;
    }

    .section6 {
        @include mobile-column;
        padding: $padding-100;
    }

    .section6Contactos {
        margin: 0 0 50px 0;
        text-align: center;
        width: 100%;
    }

    .section6Texto {
        display: inline-block;
        & p {
            padding: 0;
        }
    }

    .section6Formulario {
        width: 100%;
    }
}


@media (max-width:575px) {
    .section1 {
        padding: 200px 50px;
    }

    .section4Video {
        width: 100%;
    }

    .section3 h2 {
        font-size: 2.1em;
    }
}


@media (max-width:480px) {
    .section1 {
        padding: 100px 25px;

        & h1 {
            font-size: 2.3em;
        }
    }

    .section1Caja {
        margin: auto;
        width: 100%;
    }

    .Redes {
        padding: $padding-25;
    }

    .section2 {
        padding: $padding-25;
    }

    .section2CajaProducto {
        margin: 100px 0;
    }

    .section2CajaProductoInfo {
        height: 12em;
        width: 17.5em;
    }

    .section3 {
        padding: $padding-25;
    }

    .section4 {
        padding: 100px 25px;
    }

    .section5 {
        padding: $padding-25;
    }

    .section5CajaEquipo {
        height: 22rem;
        padding: 15px;
        width: 16rem;

        & h4 {
            font-size: 1.3em;
        }
    
        & p {
            font-size: 1em;
        }
    }

    .section6 {
        padding: 25px 25px 100px 25px;
    }

    .section6Contactos {
        width: 100%;
    }

    .section6Formulario {
        padding: $padding-25;
        width: 100%;
    }
}
/* FIN AJUSTES HOME MOBILE */
/* FIN HOME */





/* PÁGINA APOYAR */
/* HEADER */
.apoyarSection1 {
    text-align: center;
    padding: 200px 20% 20px;
}
/* FIN HEADER */


/* PORQUÉ APOYAR */
.apoyarSection2 {
    @extend %flexbox-evenly;
    align-items: center;
    padding: 100px;
}

.apoyarSection2Caja {
    background-color: $color-princial;
    border-radius: 0 0 60px 0;
    box-shadow: $box-shadow-1;
    height: auto;
    margin: 15px;
    padding: 30px;
    text-align: center;
    width: 28%;

    & h3 {
        color: $color-cuarto;
    }
    
    & p {
        color: $color-cuarto;
    }
}
/* FIN PORQUÉ APOYAR */


/* CLUB BRAINAIALS */
.apoyarSection3 {
    @extend %flexbox-column;
    background-color: $color-terciario;
    color: $color-cuarto;
    padding: 100px 200px;
}

.apoyarSection3Titulo {
    color: $color-cuarto;
}

.apoyarSection3Texto {
    color: $color-cuarto;
    width: 65%;
}

.apoyarSection3Club {
    background-color: $color-princial;
    border-radius: 0 0 80px 0;
    box-shadow: 20px 20px 60px $color-texto;
    height: 28em;
    padding: 25px;
    width: 400px;
    text-align: center;
}

.apoyarSection3ClubTitulo {
    color: $color-cuarto;
    font-style: italic;
}

.apoyarSection3ClubTexto {
    color: $color-cuarto;
    font-size: 3em;
    font-weight: 800;
}

.colorboton2 {
    background-color: $color-cuarto;

    & a {
        color: $color-princial;
    }
}

.apoyarSection3ClubLista {
    align-content: center;
    background: none; 
    display: flex;
    flex-flow: column wrap;
    padding: 0 0 20px 0;

    & p {
        color: $color-cuarto;
        display: block;
        font-size: 1.2em;
        text-align: left;
    }
}

.apoyarSection3Beneficios {
    align-items: center;
    background-color: $color-terciario;
    padding: 50px;

    & ul {
        background: none;
    }
    
    & li {
        color: $color-cuarto;
    }
}
/* FIN CLUB BRAINAIALS */


/* OTRAS FORMAS DE APOYAR */
.apoyarSection4 {
    display: flex;
    padding: 100px;

    & p {
        color: $color-texto;
    }
}

.apoyarSection4Acordion {
    box-shadow:  $box-shadow;
    margin: 0 0 0 50px;
    width: 100rem;
}

.apoyarSection4Button {
    background-color: $color-cuarto;
    color: $color-texto;
    font-weight: 700;
    font-size: 0.35em;
}

.accordion-button:not(.collapsed) {
    background-color: $color-secundario;
    color: $color-princial;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
    z-index: none;
}

.apoyarSection4Item {
    background-color: $color-cuarto;
}
/* FIN OTRAS FORMAS DE APOYAR */


/* AJUSTES APOYAR MOBILE */
@media (max-width: 768px) {
    .apoyarSection1 {
        padding: 200px 100px 50px;
    }

    .apoyarSection2 {
        @include mobile-column;
        justify-content: space-evenly;
    }

    .apoyarSection2Caja {
        width: 70%;
    }

    .apoyarSection3 {
        padding: $padding-100;
    }

    .apoyarSection3Texto {
        width: 100%;
    }

    .apoyarSection3Club {
        width: 350px;
    }

    .apoyarSection3ClubLista {
        & p {
            font-size: 1em;
        }
    } 

    .apoyarSection4 {
        @include mobile-column;
    }

    .apoyarSection4Caja {
        margin: 0 0 50px;
    }

    .apoyarSection4Acordion {
        margin: 0;
        width: fit-content;
    }
}


@media (max-width: 480px) {
    .apoyarSection1 {
        padding: 150px 25px 0;

        & h1 {
            font-size: 2.5em;
        }
    }

    .apoyarSection2 {
        @include mobile-column;
        padding: 100px 25px;
    }

    .apoyarSection2Caja {
        width: fit-content;
    }

    .apoyarSection3 {
        padding: 100px 25px;

        & h2 {
            font-size: 2em;
            padding: 0 50px;
        }
    
        & h3 {
            font-size: 1.5em;
            padding: 0 50px;
        }
    }

    .apoyarSection3Club {
        width: 17em;
    }

    .apoyarSection3ClubLista {
        & p {
            font-size: 1em;
        }
    } 

    .apoyarSection3Beneficios {
        margin: 40px 0;
        padding: 0;
    }

    .apoyarSection4 {
        padding: 25px 25px 75px;

        & h2 {
            font-size: 2em;
        }
    }

    .apoyarSection4Button {
        font-size: 0.5em;
    }
}
/* FIN AJUSTES APOYAR MOBILE */
/* FIN PÁGINA APOYAR */





/* PÁGINA E-BOOK */
/* HEADER */
.ebooksSection1 {
    text-align: center;
    padding: 200px 100px 0;
}
/* FIN HEADER */


/* PRODUCTOS */
.ebooksSection2 {
    @extend %flexbox-evenly;
    padding: $padding-100;
}

.ebooksSection2Producto {
    @extend %flexbox-column;
    height: auto;
    border-radius: 10px;
    box-shadow:  $box-shadow;
    padding: 20px;
    width: 30%;

    & h3 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    
    & p {
        font-size: 1.3em;
        margin: 10px 0;
    }
}

.ebooksSection2Image {
    height: auto;
    width: 75%;
}
/* FIN PRODUCTOS */


/* OFERTAS */
.ebooksSection3 {
    @extend %flexbox-column;
    background-color: $color-terciario;
    padding: $padding-100;

    & h2 {
        color: $color-cuarto;
    }
}

.ebooksSection3Oferta {
    @extend %flexbox-column;
    background-color: $color-terciario;
    border-radius: $border-radius-boton;
    height: 40em;
    width: 60em;

    & img {
        height: auto;
        width: 50%;
    }
    
    & h3 {
        color: $color-cuarto;
    }
    
    & div {
        background-color: $color-terciario;
        display: flex;
        padding: 0;
    }
}

.ebooksSection3Rebaja {
    background-color: $color-terciario;
    color: $color-cuarto;
    font-size: 1.5rem;
    margin: 0;
    justify-content: center;
    padding: 15px;
    text-decoration: line-through;
}

.ebooksSection3Precio {
    color: $color-cuarto;
    background-color: $color-terciario;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px;
    margin: 0;
}
/* FIN OFERTAS */


/* SOBRE LOS EBOOKS */
.ebooksSection4 {
    @extend %flexbox-evenly;
    align-items: center;
    padding: $padding-100;
}

.ebooksSection4Caja {
    background: none;
    text-align: left;
    width: 30em;
}

.ebooksSection4Img {
    display: flex;
    justify-content: center;

    & img {
        height: auto;
        width: 80%;
    }
}
/* FIN SOBRE LOS EBOOKS */


/* BENEFICIOS */
.ebooksSection5 {
    align-items: center;
    display: flex;
    padding: $padding-100;
}

.ebooksSection5Beneficio {
    @extend %flexbox-column;
    height: auto;
    justify-content: space-evenly;
    margin: 15px;
    padding: 20px;    
    width: 100%;
}
/* FIN BENEFICIOS */


/* CONTACTOS */
.ebooksContactos {
    @extend %flexbox-evenly;
    align-items: center;
    padding: 50px 100px;
}

.ebooksContactosRedes{
    align-items: center;
    display: flex;
    justify-content: right;
}
/* FIN CONTACTOS */


/* AJUSTES MOBILE */
@media (max-width: 1024px) {
    .ebooksSection4Img {
        & img {
            height: 70%;
            width: auto;
        }
    }
}


@media (max-width: 768px) {
    .ebooksSection1 {
        width: auto;
    }

    .ebooksSection2 {
        @include mobile-column;
        padding: $padding-100;
        width: auto;
    }

    .ebooksSection2Producto {
        margin: 50px;
        width: auto;

        & h3 {
            font-size: 2.3em;
        }
    
        & p {
            font-size: 1.8em;
        }
    }

    .ebooksSection3Oferta {
        width: auto;

        & img {
            height: auto;
            width: 75%;
        }
    }

    .ebooksSection4 {
        @include mobile-column;
    }

    .ebooksSection4Caja {
        text-align: center;
        width: fit-content;
    }

    .ebooksSection5 {
        @include mobile-column;
    }

    .ebooksSection5Beneficio {
        width: fit-content;
    }

    .divisor5 {
        transform: rotate(90deg);
        width: 4px;
    }

    .ebooksContactos {
        @include mobile-column;
        text-align: center;
    }

    .ebooksContactos {
        padding: $padding-25;
    }
}


@media (max-width:480px) {
    .ebooksSection1 {
        padding: 150px 25px 0;
    }

    .ebooksSection2 {
        padding: $padding-25;
    }

    .ebooksSection2Producto {
        margin: 0 0 50px;
        width: fit-content;

        & h3 {
            font-size: 1.7em;
        }
    
        & p {
            font-size: 1.4em;
        }
    }

    .ebooksSection3 {
        padding: $padding-25;
    }

    .ebooksSection4 {
        padding: 100px 25px;
    }

    .ebooksSection5 {
        padding: $padding-25;
    }

    .ebooksContactos {
        & h3 {
            font-size: 1.7em;
        }
    }
}
/* FIN AJUSTES MOBILE */
/* FIN PÁGINA E-BOOK */





/* PÁGINA NUESTRA INICIATIVA */
/* HEADER */
.nuestrainiciativaSection1{
    text-align: center;
    padding: 200px 100px 0;
}
/* FIN HEADER */


/* SOBRE NOSOTROS */
.nuestrainiciativaSection2 {
    padding: 100px 200px;

    & div {
        display: flex;
        justify-content: center;
    }
    
    & p {
        line-height: 2rem;
        margin: 10px 0 40px;
    }
    
    & Img {
        height: auto;
        margin: 15px;
        width: 25%;
    }
}
/* FIN SOBRE NOSOTROS */


/* BANNER */
.nuestrainiciativaBanner {
    background-color: $color-terciario;
    display: flex;
    justify-content: center;
    padding: 50px 100px;

    & h3{
        color: $color-cuarto;
    }
    
    & p{
        color: $color-cuarto;
    }
}

.nuestrainiciativaBannerCaja {
    background-color: $color-terciario;
}

.nuestrainiciativaBannerBoton {
    align-items: center;
    background-color: $color-terciario;
    display: flex;
    justify-content: center;
    margin: 0 0 0 50px;
}
/* FIN BANNER */


/* EQUIPO */
.nuestrainiciativaSection4 {
    @extend %flexbox-column;
    padding: $padding-100;
}

.nuestrainiciativaSection4Caja {
    @extend %flexbox-evenly;
    flex-flow: row wrap;

    & img {
        height: auto;
        width: 40%;
    }
}

.nuestrainiciativaSection4Equipo {
    @extend %flexbox-column;
    border-radius: 0 0 60px 0;
    box-shadow:  $box-shadow;
    margin: 30px;
    padding: 40px;
    width: 25rem;
}

.nuestrainiciativaSection4Cita {
    font-size: 1em;
    font-style: italic;
    text-align: left;
}
/* FIN EQUIPO */


/* BANNER 1 */
.nuestrainiciativaBanner1 {
    @extend %flexbox-evenly;
    background-color: $color-terciario;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 100px;

    & h3 {
        color: white;
        margin: 0 30px 0 0;
    }
    
    & div {
        background-color: $color-terciario
    }
}
/* FIN BANNER 1 */


/* AJUSTES MOBILE */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .nuestrainiciativaSection2 {
        padding: $padding-100;

        & img {
            height: auto;
            width: 30%;
        }
    }
    
    .nuestrainiciativaBanner {
        @include mobile-column;
        text-align: center;
    }

    .nuestrainiciativaBannerBoton {
        margin: 0;
    }

    .nuestrainiciativaSection4Caja {
        @include mobile-column;
    }

    .nuestrainiciativaSection4Equipo {
        margin: 40px 0;
    }
}

@media (max-width: 575px) {
    .nuestrainiciativaSection4Caja {
        padding: 0;
    }

    .nuestrainiciativaSection4Equipo {
        padding: 30px;
    }

    .nuestrainiciativaBanner1 {
        @include mobile-column;
        padding: $padding-25;
        text-align: center;

        & h3 {
            font-size: 1.5em;
            margin: 0;
        }
    }
}

@media (max-width: 480px) {
    .nuestrainiciativaSection1 {
        padding: 150px 25px 0;
        & h1 {
            font-size: map-get($map: $tamaño-fuente, $key: titulo2);
        }
    }

    .nuestrainiciativaSection2 {
        padding: $padding-25;

        & h2 {
            font-size: 2.3em;
        }

        & img {
            width: 50%;
            height: auto;
        }
    }

    .nuestrainiciativaBanner {
        padding: $padding-25;
    }

    .nuestrainiciativaSection4 {
        padding: $padding-25;

        & h2 {
            font-size: 2.5em;
        }
    }

    .nuestrainiciativaSection4Equipo {
        width: 17rem;
    }
}
/* FIN AJUSTES MOBILE */
/* FIN PÁGINA NUESTRA INICIATIVA */




/* HABLAMOS */
.hablamosSection {
    @extend %flexbox-evenly;
    padding: 200px 100px;
}

.hablamosSectionCaja {
    display: flex;
    flex-flow: column;
    padding: 30px;
    width: 40%;

    & h1 {
        font-size: 2em;
    }
}

.hablamosSectionFormulario {
    border-radius: 0 0 70px 0;
    box-shadow: $box-shadow;
    margin: 0 0 0 20px;
    padding: 50px;
    text-align: center;
    width: 45%;

    & form {
        text-align: left;
    }
}

/* AJUSTES MOBILE */
@media (max-width: 768px) {
    .hablamosSection {
        @include mobile-column;
    }

    .hablamosSectionCaja {
        width: fit-content;
    }

    .hablamosSectionFormulario {
        flex-flow: column;
        margin: 50px 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hablamosSection {
        padding: 150px 25px 50px;
    }

    .hablamosSectionFormulario {
        padding: 30px;
    }
}
/* FIN AJUSTES MOBILE */
/* FIN HABLAMOS */


/* 404 */
.Section404 {
    padding: 200px 100px 100px;
    text-align: center;
}

/* AJUSTE MOBILE */
@media (max-width: 480px) {
    .Section404 {
        padding: 150px 25px 50px;
    }
}
/* FIN AJUSTE MOBILE */
/* FIN 404 */