%flexbox-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

%flexbox-column {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}