%flexbox-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

%flexbox-evenly {
    display: flex;
    justify-content: space-evenly;
}

%flexbox-column {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

%divisor-width-margin {
    width: 100px;
    margin: 30px 0px;
}

%scale-boton {
    transform: scale(1.2,1.2);
    transition: 1s;
    box-shadow:  0px 0px 40px #bebebe;
}

%font-boton {
    font-weight: 600;
    letter-spacing: 2px;
}
